@page "/"

@using TeleChat.WebUI.Components.Sidebar.Group
@using TeleChat.WebUI.Components.Sidebar.Contact
@using TeleChat.WebUI.Components.Chat

<PageTitle>Home</PageTitle>

<div class="d-flex">
    <div class="side-bar-container">
        @if (_groups.Count > 0)
        {
            <GroupList Groups="_groups" />
        }

        @if (_contacts.Count > 0)
        {
            <div>
                <MudText Typo="Typo.h5" Color="Color.Primary" Style="width: 100%; padding: 8px;">
                    Contacts
                </MudText>
                <ContactList Contacts="_contacts" />
            </div>
        }
    </div>
</div>