@page "/"

@using TeleChat.WebUI.Components.Sidebar.Group
@using TeleChat.WebUI.Components.Sidebar.Contact
@using TeleChat.WebUI.Components.Sidebar.Menu
@using TeleChat.WebUI.Components.Chat

<PageTitle>Home</PageTitle>

@if (_userToken is not null)
{
    <MudText Typo="Typo.h3">@_userToken.User.Name</MudText>
}

<div class="d-flex" style="width: 100vw; height: 95vh;">
    <div class="side-bar-container">
        @if (_groups.Count > 0)
        {
            <GroupList Groups="_groups" HomePage="this" />
        }

        @if (_contacts.Count > 0)
        {
            <div>
                <MudText Typo="Typo.h5" Color="Color.Primary" Style="width: 100%; padding: 8px;">
                    Contacts
                </MudText>
                <ContactList Contacts="_contacts" />
            </div>
        }

        <SidebarMenu @ref="_refSidebarMenu" User="_userToken?.User" HomePage="this" />
    </div>
    <div class="d-flex justify-center" style="border: 1px solid white; width: 100%; padding: 1% 0px">
        @if (_userToken is not null)
        {
            <div class="d-flex flex-column">
                <div>
                    <MudText Typo="Typo.h5" Style="cursor: default;">@_selectedGroupChatName</MudText>
                </div>
                <ChatBox @ref="_selectedChatBox" Messages="_messages" User="_userToken.User" />
                <EditForm Model="_newMessageText" OnValidSubmit="SendMessageAsync">
                    <MudTextField @bind-Value="_newMessageText"
                                  T="string"
                                  Placeholder="Message"
                                  AutoFocus="true"
                                  Disabled="!_isChatInitialized" />
                </EditForm>
            </div>
        }
    </div>
</div>