@page "/"

@using TeleChat.WebUI.Components.Sidebar.Group
@using TeleChat.WebUI.Components.Sidebar.Contact
@using TeleChat.WebUI.Components.Chat

<PageTitle>Home</PageTitle>

<div class="d-flex" style="width: 100vw; height: 95vh;">
    <div class="side-bar-container">
        @if (_groups.Count > 0)
        {
            <GroupList Groups="_groups" />
        }

        @if (_contacts.Count > 0)
        {
            <div>
                <MudText Typo="Typo.h5" Color="Color.Primary" Style="width: 100%; padding: 8px;">
                    Contacts
                </MudText>
                <ContactList Contacts="_contacts" />
            </div>
        }
    </div>
    <div class="d-flex justify-center" style="border: 1px solid white; width: 100%; padding: 1% 0px">
        @if (MainLayout is not null && MainLayout.User?.Name != "")
        {
            <div class="d-flex flex-column">
                <ChatBox />
                <EditForm>
                    <MudTextField T="string"
                                  Placeholder="Message"
                                  AutoFocus="true" />
                </EditForm>
            </div>
        }
    </div>
</div>