<div id="chat" class="chat-message-container">
    @{
        foreach (var message in Messages.OrderBy(x => x.Created))
        {
            <ChatMessage Message=@message LoggedUser="User" />
        }
    }
</div>