.message {
    max-width: 55%;
    min-width: 40px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
    cursor: pointer;
}

.message-left {
    align-self: flex-start;
    background-color: #212121;
    color: #fff;
}

.message-right {
    align-self: flex-end;
    background-color: #8774e1;
    color: #f2f0fc;
}

.message-timestamp {
    /*position: absolute;
    bottom: 5px;
    right: 5px;*/
    font-size: 0.7rem;
    align-self: end;
    justify-self: end;
}