.option {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;
}

    .option:hover {
        background-color: #eeeeee;
        cursor: pointer;
    }

    .option .icon {
        font-size: 1.3rem;
        color: rgba(89,74,226,1);
    }

.disabled * {
    color: #aaa !important;
}

.disabled:hover {
    background-color: inherit !important;
    cursor: default !important;
}

.delete-option {
    color: #ff595a !important;
}

    .delete-option:hover {
        background-color: #ffe6e6;
        cursor: pointer;
    }

.stack {
    display: flex;
    flex-direction: column;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
