.option {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 0.9rem;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
    color: #ffffff;
}

    .option:hover {
        background-color: rgba(170, 170, 170, 0.08);
        cursor: pointer;
        border-radius: 12px;
    }

    .option .icon {
        font-size: 1.3rem;
        color: rgba(89, 74, 226, 1);
    }

.disabled * {
    color: #aaa !important;
}

.disabled:hover {
    background-color: inherit !important;
    cursor: default !important;
}

.delete-option {
    color: #ff595a !important;
}

    .delete-option:hover {
        background-color: rgba(255, 89, 90, 0.08);
        cursor: pointer;
    }

.stack {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
