@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout Style="background-color: #282828; width: 100vw; height: 100vh;">
    <body style="background-color: inherit;">
        @Body
    </body>
</MudLayout>