@inherits LayoutComponentBase
@using TeleChat.WebUI.Components.Account

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="width: 100vw; height: 100vh; background-color: #181818;">
    <MudAppBar Style="background-color: inherit;" Elevation="1" Fixed="false" Dense="true">
        <MudSpacer />
        <AppBarOptions />
    </MudAppBar>
    <body style="background-color: inherit;">
        @Body
    </body>
</MudLayout>