@inherits LayoutComponentBase

@using TeleChat.Domain.Models.Entities
@using TeleChat.WebUI.Components.Account

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="">
    @*<MudAppBar Style="background-color: inherit;" Elevation="1" Fixed="false" Dense="true">
         <MudSpacer />
        <AppBarOptions />
        </MudAppBar>*@
    <body>
        @Body
    </body>
</MudLayout>