@using TeleChat.WebUI.Customs;

<TCPopover @ref="_popoverRef">
    <div class="stack noselect">
        <div class="option disabled">
            <i class="fa-solid fa-xmark icon" />
            <div>Open in new tab</div>
        </div>
        <div class="option disabled">
            <i class="fa-solid fa-xmark icon" />
            <div>Mark as unread</div>
        </div>
        <div class="option disabled">
            <i class="fa-solid fa-xmark icon" />
            <div>Pin</div>
        </div>
        <div class="option disabled">
            <i class="fa-solid fa-xmark icon" />
            <div>Mute</div>
        </div>
        <div class="option disabled">
            <i class="fa-solid fa-xmark icon" />
            <div>Archive</div>
        </div>
        <div @onclick="DeleteGroupChat" class="option">
            <i class="fa-solid fa-trash icon" style="font-size: 1.7rem;" />
            <div>Delete Chat</div>
        </div>
    </div>
</TCPopover>