@using TeleChat.Domain.Models.Entities;
@using TeleChat.WebUI.Pages;

@if (Item is not null)
{
    <div class="d-flex align-center gap-x-2 item-container" @onclick="OnGroupChatClick" @oncontextmenu="OnContextMenuClick" @oncontextmenu:preventDefault="true">
        <div style="width: 15%; height: 65px; border: 1px solid green;"></div>
        <div class="d-flex flex-column" style="width: 80%;">
            <div class="d-flex justify-space-between gap-x-2" style="width: 100%;">
                <div class="item-name hide-on-overflow">
                    @Item.Name
                </div>
                <div class="item-time">
                    @DateTime.Now.ToString("HH:mm")
                </div>
            </div>
            <div class="item-last-message hide-on-overflow">
                Ostatnia wiadomość(...)
            </div>
        </div>

        <GroupMenu @ref=_groupMenuRef GroupItem="this" />
    </div>
}

@code {
    [Parameter] public GroupChat? Item { get; init; }
    [Parameter] public Home? HomePage { get; init; }

    private GroupMenu? _groupMenuRef;

    private async Task OnGroupChatClick(MouseEventArgs e)
    {
        if (HomePage is not null && Item is not null)
        {
            await HomePage.LoadGroupChat(Item);
        }
    }

    private void OnContextMenuClick(MouseEventArgs e)
    {
        if (e.Button == 2) //right click
        {
            _groupMenuRef?.TogglePopoverMenu(e);
        }
    }
}