<div class="@_class" style="padding: 0px 10px;">
    <div class="icon-contener">
        <MudIcon Icon="@Icon" />
    </div>
    <div>@OptionValue</div>
</div>

@code {
    [Parameter] public string OptionValue { get; set; } = string.Empty;
    [Parameter] public string Icon { get; set; } = string.Empty;
    [Parameter] public bool Disabled { get; set; }

    private string _class = "option";

    protected override void OnInitialized()
    {
        if (Disabled)
        {
            _class += " disabled";
            StateHasChanged();
        }
    }
}